# GitIgnore for Git Version Control

*.class        # Java bytecode
*.o            # C/C++ object files
*.so           # Shared objects (Linux)
*.rbc          # Compiled Ruby files

*.tmp          # Temporary files
*.swp          # Swap files
*.pyc          # Compiled Python files
*.zip          # Compressed zip files
*.tar.gz       # Tarballs
*.rar          # WinRAR files
*.7z           # 7zip files
*.tar.bz2      # Tarballs (bz2 compression)

__pycache__/   # Python bytecode cache

*.sublime-workspace   # Sublime Text workspace
*.sublime-project     # Sublime Text project
*.vscode/             # VSCode settings
.idea/                # IntelliJ IDEA settings

.DS_Store    # macOS directory metadata
Thumbs.db    # Windows image thumbnail cache

*.gz         # General compressed files
*.tar.xz     # Compressed archives with xz
*.tar        # Uncompressed tarballs

*.bak        # Backup files
node_modules/  # Node.js dependencies
.env         # Environment variable files

database.sqlite # SQLite database files
config.yaml # Config that shouldnt be versioned
config.yml # Ditto
