# Ensure Ruby files are classified as Ruby
*.rb linguist-language=Ruby

# Ensure Shell scripts are classified as Shell
*.sh linguist-language=Shell

# Ensure Rich text format is classified the correct way
*.rtf linguist-language=Rich Text Format

