# Ensure Ruby files are classified as Ruby
*.rb linguist-language=Ruby

# Ensure Shell scripts are classified as Shell
*.sh linguist-language=Shell

# Ensure Shell scripts are classified as Shell
*.rtf linguist-language=Rich Text Format
